
body{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container{
    border: 3px solid green;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    

}

.container > div {
    width: 60px;
    height: 60px;
    outline: 1px solid red;
    cursor: pointer;
}

.button-container{
    margin-bottom: 1rem;
}